

# 



# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# 개인 편집기 설정 (필요시 제외)
.vscode/

# 
node_modules/
package-lock.json
package.json

# vector DB artifacts
app/llm/5617a9f61b028005a4858fdac845db406aefb181/
chroma_pdf_db/
