fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
redis
pydantic
ruff

langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama
langchain-text-splitters
chromadb
sentence-transformers
rank-bm25
pypdf
python-dotenv
numpy
requests
